---
import Layout from '../layouts/BaseLayout.astro'
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet">
	<div class="fixed inset-0 flex items-center justify-center">
		<h1 class="text-7xl">ABOUT</h1>
	</div>
</Layout>
