---
import { SITE_TITLE, SITE_DESCRIPTION } from '~/lib/constants'
import Layout from '~/layouts/BaseLayout.astro'
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="fixed inset-0 flex items-center justify-center">
		<h1 class="text-7xl">HOME</h1>
	</div>
</Layout>
