---
import HeaderLink from './HeaderLink.astro'
---

<header>
	<nav>
		<div
			class="fixed top-4 z-[1000] mx-auto flex w-full items-center justify-center gap-4"
		>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
