@import "helpers";

 :root {
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  --inspect-color: #f00;

  // base colors
  --color-black: #000;
  --color-white: #f9f8f3;
  --color-paper: #f2eee8;
  --color-gray: #d9d9d9;
  --color-cream: #fbf2e5;
  --color-lavender: #8976ff;
  --color-candy: #ff84eb;
  --color-sugar: #ffd439;

  // color shades

  --color-hint: #00000040;
  --color-subdued: #00000060;

  // default theme
  --theme-background: var(--color-cream);
  --theme-color: var(--color-black);
  --theme-color-secondary: var(--color-hint);
  --theme-accent: var(--color-lavender);

  // caramel theme
  --theme-caramel-background: var(--color-cream);
  --theme-caramel-color: var(--color-black);
  --theme-caramel-color-secondary: var(--color-hint);
  --theme-caramel-accent: var(--color-lavender);

  // playground theme
  --theme-playground-background: var(--color-black);
  --theme-playground-color: var(--color-white);
  --theme-playground-color-secondary: var(--color-candy);
  --theme-playground-accent: var(--color-white);

  // expedition theme
  --theme-expedition-background: var(--color-gray);
  --theme-expedition-color: var(--color-black);
  --theme-expedition-color-secondary: var(--color-hint);
  --theme-expedition-accent: var(--color-sugar);

  // insane theme
  --theme-insane-background: var(--color-paper);
  --theme-insane-color: var(--color-black);
  --theme-insane-color-secondary: var(--color-black);
  --theme-insane-accent: var(--color-black);

  // border radius
  --border-radius-sm: #{tovw(4px, 4px)};
  --border-radius-md: #{tovw(8px, 8px)};
  --border-radius-lg: #{tovw(16px, 16px)};
  --border-radius-xl: #{tovw(32px, 32px)};

  // border style
  --border-gross: #{tovw(4px, 4px)} solid var(--theme-color);
  --border-default: #{tovw(2px, 2px)} solid var(--theme-color);
  --border-thin: #{tovw(1px, 1px)} solid var(--theme-color);

  // common sizes

  --header-mobile-height: #{tovw(44px, 44px, "mobile")};
  --header-desktop-width: #{tovw(80px, 64px)};
  --side-posts-width: #{tovw(480px, 340px)};
  --two-pxvw: #{tovw(2px, 2px)};
  --three-pxvw: #{tovw(4px, 4px)};
  --four-pxvw: #{tovw(4px, 4px)};

  // z-indexs
  --z-index-overlay: 99;
  --z-index-modal-content: 100;
  --z-index-header: 101;

  // Easings
  --ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
  --ease-out-soft: cubic-bezier(0.23, 0.4, 0.53, 0.88);

  // Durations
  --duration-slow: 500ms;
  --duration-normal: 300ms;
  --duration-fast: 150ms;

  // Transition
  --transition-fade-in-out: var(--duration-normal) ease-in-out;

  // perspective and 3D
  --perspective: 500px;
}

html {
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0);
  -webkit-tap-highlight-color: transparent;

  // tweak if site is light mode.
  color-scheme: light;
  background-color: var(--theme-background);
}

body {
  background-color: var(--theme-background);
  font-family: var(--font-heading);
  color: var(--theme-color);
}

body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

// used in use-prevents-scroll hook

html.no-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
    touch-action: none;
  }
}

@font-face {
	font-family: 'Telegraf';
	src: url('/fonts/PPTelegraf-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Telegraf';
	src: url('/fonts/PPTelegraf-RegularSlanted.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Telegraf';
	src: url('/fonts/PPTelegraf-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Telegraf';
	src: url('/fonts/PPTelegraf-Ultrabold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Telegraf';
	src: url('/fonts/PPTelegraf-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
